<% error = @pick.errors.key?(:week) && @pick.errors[:week].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :week, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :week, :class => 'input-xlarge input-with-feedback', :autofocus => true %>
    <span class='help-inline'><%= error ? f.error_message_on(:week) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @pick.errors.key?(:team) && @pick.errors[:team].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :team, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :team, :class => 'input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:team) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @pick.errors.key?(:wager) && @pick.errors[:wager].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :wager, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :wager, :class => 'input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:wager) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @pick.errors.key?(:winner) && @pick.errors[:winner].count > 0 %>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:picks, :index), :class => 'btn' %>
</div>
